<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net472" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="1.2.2" targetFramework="net472" />
  <package id="System.Composition" version="1.2.0" targetFramework="net472" />
  <package id="System.Composition.AttributedModel" version="1.2.0" targetFramework="net472" />
  <package id="System.Composition.Convention" version="1.2.0" targetFramework="net472" />
  <package id="System.Composition.Hosting" version="1.2.0" targetFramework="net472" />
  <package id="System.Composition.Runtime" version="1.2.0" targetFramework="net472" />
  <package id="System.Composition.TypedParts" version="1.2.0" targetFramework="net472" />
  <package id="System.Runtime.Loader" version="4.3.0" targetFramework="net472" />
  <package id="Yarhl" version="3.0.0-alpha07" targetFramework="net472" />
  <package id="Yarhl.Media" version="3.0.0-alpha07" targetFramework="net472" />
</packages>